{% extends 'layout.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block main_container %}
    <div class="alert alert-info mt-3">
        <h5 class="display-5 text-center">{{ usuario.username }}</h5>
    </div>
    <div class="row">
        <div class="col-6 my-5">
            <table class="table">
                <thead class="thead-dark">
                    <th colspan="6" class="text-center">Anuncios</th>
                </thead>
                <tbody>
                {% if anuncios == false %}
                    <tr class="d-flex justify-content-between align-items-center">
                        <td style="border-top: none;">
                            <h6>No hay anuncios registrados</h6>
                        </td>
                    </tr>
                {% else %}
                    {% for anuncio in anuncios %}
                        <tr class="d-flex justify-content-between align-items-center">
                            <td style="border-top: none;">
                                {{ anuncio.video }}
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('anuncio_show', {'id': anuncio.id }) }}"><i
                                            class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-6 my-5">
            <table class="table">
                <thead class="thead-dark">
                <th colspan="6" class="text-center">Tablets</th>
                </thead>
                <tbody>
                {% if tablets == false %}
                    <tr class="d-flex justify-content-between align-items-center">
                        <td style="border-top: none;">
                            <h6>No hay tablets registradas</h6>
                        </td>
                    </tr>
                {% else %}
                    {% for tablet in tablets %}
                        <tr class="d-flex justify-content-between align-items-center">
                            <td style="border-top: none;">
                                Matrícula: {{ tablet.matricula }}
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('tablet_show', {'id': tablet.id }) }}">
                                    <i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <a class="btn btn-outline-danger btn-lg" href="{{ path('usuario_index') }}">Volver</a>
        </div>
    </div>
{% endblock %}
